---
name: macOS CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  macos:
    name: macOS ${{ matrix.version }} (${{ matrix.compiler }})
    strategy:
      fail-fast: false
      matrix:
        compiler: [clang++]
        version: [latest]

    runs-on: macos-${{ matrix.version }}
    env:
      CXX: ${{ matrix.compiler }}
      CXXFLAGS: -Werror

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install dependencies
        run: |
          brew update
          brew install boost boost-python3 help2man

      - name: Build and check
        run: make distcheck CMAKE="cmake -DPython3_EXECUTABLE=/opt/homebrew/bin/$(brew info boost-python3 | grep -oE 'python@3.\d+' | tr -d @)"
