---
name: Ubuntu CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  ubuntu:
    name: Ubuntu ${{ matrix.version }} (${{ matrix.compiler }}${{ matrix.version == 24.04 && ' with sanitizers' || '' }})
    strategy:
      fail-fast: false
      matrix:
        compiler: [clang++, g++]
        version: [22.04, 24.04]

    runs-on: ubuntu-${{ matrix.version }}
    env:
      CXX: ${{ matrix.compiler }}
      CXXFLAGS: -Werror

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: '[clang] Install a default version for Ubuntu ${{ matrix.version }}'
        if: matrix.compiler == 'clang++'
        run: |
          sudo apt update
          sudo apt install -y clang

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y help2man libboost-dev libboost-filesystem-dev \
            libboost-program-options-dev libboost-python-dev libboost-regex-dev

      - name: Build and check
        run: |
          if [[ "${{ matrix.version }}" == 24.04 ]]; then
            # -Werror causes false positives with sanitizers and modern GCC
            [[ "${{ matrix.compiler }}" == g++ ]] && export CXXFLAGS=
            make distcheck-sanitizers
          else
            make distcheck
          fi
